*{
  margin: 0;
  box-sizing: border-box;
}
.App{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

input,select,textarea{
  border: 1px solid black;
  border-radius: 5px;
  /* margin-left: 1em; */
  padding-left: 0.3em;
}

