* {
    margin: 0;
    box-sizing: border-box;
}
.App {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* input,
select,
textarea {
    border: 1px solid black;
    border-radius: 5px;
    padding-left: 0.5em;
} */
