* {
    margin: 0;
    box-sizing: border-box;
}

.h-fit {
    height: fit-content;
}

.flex-75 {
    flex: 0.75 1 0%;
}

.min-w-120 {
    min-width: 30rem;
}

.min-w-160 {
    min-width: 40rem;
}

.min-w-200 {
    min-width: 50rem;
}

.w-rem {
    min-width: 3.1rem;
}
